<div class="main-section">

    <div class=" add-section ">


        <!--
        <div class="alertiwarning alert-dismissible fade show" role="alert">-->
        <strong>{{errMsg}}</strong>

        <!---
    </div>-->

        <form [formGroup]="taskForm" (ngSubmit)="addTask() " autocomplete="off ">
            <input type="text " class="form-control" placeholder=" Title " formControlName="task_title" />
            <input type="text " class="form-control" placeholder=" What do you need to do? " formControlName="task_description" />
            <button class=" add " type="submit " data-bs-dismiss=" modal ">+ </button>



        </form>
    </div>

    <div class="show-todo-section ">
        <!-- fetch data from variable and storing the results  in a variable  -->
        <div class="todo-item " *ngFor="let task of tasks ">
            <span id="{{task.id}} " class="remove-to-do " (click)="deleteTask(task.id) ">x</span>
            <span id="{{task.id}} " class="remove-to-do " (click)="editing(task.id) ">e</span>
            <!-- binding data from db wchi is store in todo -->

            <h1>
                {{task.task_title}}
            </h1>

            <p>{{task.task_description}}</p><br>
            <!-- <small>created: </small>-->
        </div>






    </div>
</div>